<main class="main">
    <section class="prices">
        <div class="container">
          <h2 class="prices-title">Fork Subscription Pricing</h2>
          <ul class="prices-card-wrapper">
            <li class="prices-card prices-card-1">
              <h3 class="card-title">Students</h3>
              <p class="card-price"><span>$</span>29</p>
              <p class="card-text">per month</p>
              <p class="card-description">Personal License</p>
              <a href="#" class="card-link">purchase</a>
            </li>
            <li class="prices-card prices-card-2">
              <h3 class="card-title">professional</h3>
              <p class="card-price"><span>$</span>59</p>
              <p class="card-text">per Month</p>
              <p class="card-description">
                Professional License <br>
                Email Support
              </p>
              <a href="#" class="card-link">purchase</a>
            </li>
            <li class="prices-card prices-card-3 prices-card--active">
              <h3 class="card-title card-title--active">agency</h3>
              <p class="card-price card-price--active"><span>$</span>99</p>
              <p class="card-text card-text--active">per Month</p>
              <p class="card-description card-description--active">
                1-12 Team Members<br>Phone Support
              </p>
              <a href="#" class="card-link card-link--active">purchase</a>
            </li>
            <li class="prices-card prices-card-4">
              <h3 class="card-title">enterprise</h3>
              <p class="card-price"><span>$</span>159</p>
              <p class="card-text">per Month</p>
              <p class="card-description">
                Unlimited Team Members <br>24/ 7 Phone Support
              </p>
              <a href="#" class="card-link">purchase</a>
            </li>
          </ul>
        </div>
      </section>
</main>