<main class="main">
  

  <section class="revolutionary-edition">
    <p class="unlimited">Unlimited 30-Days Trial Period</p>
    <div class="revolutionary-edition-main container">
      <h2 class="revolutionary-edition-slogan">REVOLUTIONARY EDITOR</h2>
      <p class="revolutionary-edition-slogan-text">
        Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet
        vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.
      </p>
      <div class="button-main">
      <button class="button-watch"> <i class="fa fa-eye" style="font-size:12px"> <span class="span-text">Watch</span></i> </button>
      <p>1,397</p>
      <button class="button-watch"> <span style='font-size:12px;'>&#9733;</span> <span class="span-text">Star</span></i> </button>
      <p>21,038</p>
      <button class="button-watch"> <i class="fa fa-code-fork" aria-hidden="true"></i> <span class="span-text">Fork</span></i> </button>
      <p>21,038</p>
    </div>

    </div>
  </section>

  <section class="what-you-get">
    <div class="container">
      <div class="what-you-get-container">
        <h2 class="what-you-get-title">&#60;Here is what you get&#62;</h2>
        <ul class="what-you-get-advantage">
          <li class="advantage__card">
            <div class="advantage__image-wrapper">
              <img src="./img/main/search.png" alt="" class="advantage__image">
            </div>
            <div class="advantage__info">
              <h3 class="advantage__card-title">Creatred to Make The Web Better</h3>
              <p class="advantage__card-text">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.</p>
            </div>
          </li>
          <li class="advantage__card">
            <div class="advantage__image-wrapper">
              <img src="./img/main/circle.png" alt="" class="advantage__image">
            </div>
            <div class="advantage__info">
              <h3 class="advantage__card-title">Incredibly Powerful Tool</h3>
              <p class="advantage__card-text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.</p>
            </div>
          </li>
          <li class="advantage__card">
            <div class="advantage__image-wrapper">
             <img src="./img/main/colb.png" alt="" class="advantage__image">
            </div>
            <div class="advantage__info">
              <h3 class="advantage__card-title">Experimental Stuff</h3>
              <p class="advantage__card-text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
            </div>
            
          </li>
          <li class="advantage__card">
            <div class="advantage__image-wrapper">
              <img src="./img/main/clock.png" alt="" class="advantage__image">
            </div>
            <div class="advantage__info">
              <h3 class="advantage__card-title">Creatred to Make The Web Better</h3>
              <p class="advantage__card-text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="what-you-get__editor-img--hidden">
        <img src="./img/main/editor.png" alt="Editor image" class="what-you-get__editor-img" width="700px">
    </div>
  </section>

  


  
</main>
