$font-lato:'Lato', sans-serif;
$body-primary-text-color:#FFFFFF;
$body-secondary-text-color: #848E97;
$body-tretiary-color:#8D81AC;
$main-title-text:#323232;
$mobile-width:320px;
$desktop-width:993px;
$body-tertiary-text-color: #8D81AC;
$tablet-width: 480px;
$revolutionary-edition-slogan-color: #635C73;
