@import "reset";
@import "variables";
@import "mixins";
@import "components/allComponents.scss";

.container{
    max-width: 1200px;
    padding-right:5%;
    padding-left:5%;
    margin: 0 auto;
    overflow: hidden;
    @include desktop{
        padding-right:2%;
        padding-left:2%;
    }
}